@charset "utf-8";


/* BASE HTML */
nav{
    box-shadow: 5px 5px 18px #666;   
    margin-bottom: 50px;
    background-color:white;
}


/* DISEÑO BASICO */

h3{
    color: #0F9FA8;
    margin-left: 15px;
}

h4{
    color: white;
    margin-left: 15px;
}

h6{
    color: white;
    margin-left: 15px;
}



/* SISTEMAS */

.cuadroSistema{
    background-image: linear-gradient(to right, #0B6A6F, #11ABB4 );
    /* background-color: #0F9FA8;  */
    margin:10px 0px 10px 5px;
    padding:10px;
}


.nombreSistema{
    color: #0F9FA8;
}

.descripcionSistema{
    color: black;
}

.imagenSistema{
    max-width: 100%;
    height:65px;
    margin-right:20px;
    
}

.cuadroNovedades{
    /* PENDIENTE */
}



