@charset "utf-8";

/* LOGIN */
html, body{
  height: 100%;
  
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
}

.divSistemas{
    
    margin:20px;
}

.scroll{
    max-height: 300px;
    overflow-y: scroll;
    
    scrollbar-face-color: #6685CA;
    scrollbar-highlight-color: #6685CA;
    scrollbar-3dlight-color:#FFFFFF;
    
}

.box{
    padding:0px;
}

.box-part{
    background:#FFF;
    border-radius:7px;
    padding:30px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.modal-content{
    /*background-color: transparent;*/
    border:2px solid #e7e7e7;
}

.fa{
     color:#4183D7;
}

body{
  
  background-size:450px;
  background-repeat: repeat; 
  background-position: right bottom;
  font-family: Sans-serif;

}

.cuadroLogin{
    background-color:#F3F3F3;
    padding: 5px 20px 20px 20px;
    margin-top: 60px;
    box-shadow: 5px 5px 18px #666; 
}

.fuente{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 110px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color:#0F9FA8;
}

.fuenteMasChica {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 30px;
  padding: 5px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color:#0F9FA8;
}


.degrade{
  background-image: linear-gradient(to right, #0F9FA8, #FEB413, #306086 );
}

/* BASE HTML */

nav{
    box-shadow: 1px 1px 7px grey;   
    margin-bottom: 50px;
    background-color:white;
}


.formMenu:hover{
    background-color:#FEB413;
    color:white;
}

li{
    color:red;
    
}


/* DISEÑO BASICO */

h3{
    color: #0F9FA8;
}



h4{
    color: white;
    
}

h6{
    color: white;
}


/* SISTEMAS */

.colorBoton{
    background-color:#0F9FA8;
    border-color:#0F9FA8;
}

.colorBoton:hover{
    color:#0F9FA8;
    background-color:#F0F0F0;
    border-color:#0F9FA8;
}

.permisoSistemas{
    filter: drop-shadow(4px 4px 8px #306086);
    border-bottom: solid 0.5px white;
    border-left: solid 5px #0F9FA8;
    background-color: #FEB413;
    padding:10px;
    
}

.formularioSistema{
    color:#306086;
    padding:20px;
    border-top: solid 2px #0F9FA8;
    border-bottom: solid 2px #0F9FA8;
    border-radius: 30px;
}

.separadorDatos{
    padding-bottom: 10px;
    color:#0F9FA8;
    border-bottom:solid 0.5px #D4D4D4;
    
}
.cuadroSistema{
    -webkit-box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
      -moz-box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
      box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
    border-top: 5px solid #0F9FA8;
    filter: brightness(100%);
    width:32%x;
    height:300px;
}

.cuadroSistema:hover{
    -webkit-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      -moz-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
    border-top: 5px solid #2a6d72;
    filter: brightness(110%);
}

.front{
    background-image: linear-gradient(to right, #049cab, #049cab);
    
}

.back{
    background-image: linear-gradient(to right, #056b75, #03616a);
}


.cuadroSistemaGris{
    -webkit-box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
      -moz-box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
      box-shadow: 0px 4px 11px -1px rgba(43,43,43,1);
    border-top: 5px solid #0F9FA8;
    filter: brightness(100%);
    width:32%x;
    height:300px;
}

.cuadroSistemaGris:hover{
    -webkit-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      -moz-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
    border-top: 5px solid #0F9FA8;
    filter: brightness(110%);
}


.nombreSistema{
    color: #0F9FA8;
}

.descripcionSistema{
    color: black;
}

.imagenSistema{
    width:210px;
    padding:1px;
    border-radius: 4px;
}

.imagenSistemaBorde{
    width:210px;
    padding:1px;
    border-radius:10px;
    
}

.imagenGris{
    /*width:420px;
    height:200px;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cuadroNovedades{
    padding: 8px;
    color:white;
    background-color: #516878;
    margin:10px 0px 10px 5px;
}


/* FORMULARIOS */

.espaciado{
    
    margin-bottom: 32px;
}

.campoForm{
    border-radius: 30px;
    
}

.cuadroTitulos{

    box-shadow: 1px 1px 8px 1px #A1D4D8; 
    text-align:center;
    padding: 8px;
    color:white;
    background-image: linear-gradient(to right, #70d6e2,#04c1d8, #04c1d8);
    margin:10px 0px 10px 5px;
}


/* ########NOTIFICACIONES######### */

.correcto{
    background-color:#0F9FA8;
    color:white;
    -webkit-box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
}

.error{
    -webkit-box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 59px -14px rgba(0,0,0,0.75);
}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
    background-image: url("../img/pngTransparente.png");
}


/* ########## NOVEDAD ############### */

.divNovedad{
    -webkit-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      -moz-box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
      box-shadow: 3px 6px 11px -1px rgba(43,43,43,1);
    background:#e7e7e7;
    border-radius:7px;
    padding:20px 5px;
    margin:20px 0px;
    border: 1px solid #e7e7e7;
}


.bordeGris{
    border-left:2px solid #cacaca;
    border-right:2px solid #cacaca;
    border-radius:7px;
}



