@charset "utf-8";

/* LOGIN */

.cuadroLogin{
    background-color:#F3F3F3;
    padding: 10px 25px 25px 25px;
    margin-top: 30px;
    box-shadow: 5px 5px 18px #666; 
}

.fuente{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 110px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color:#0F9FA8;
}

.fuenteMasChica {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 30px;
  padding: 5px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color:#0F9FA8;
}


.degrade{
  background-image: linear-gradient(to right, #0F9FA8, #FEB413, #306086 );
}

/* BASE HTML */

nav{
    box-shadow: 5px 5px 18px #666;   
    margin-bottom: 50px;
    background-color:white;
}


.formMenu:hover{
    background-color:#FEB413;
    color:white;
}

li{
    color:red;
    
}


/* DISEÑO BASICO */

h3{
    color: #0F9FA8;
    margin-left: 15px;
}



h4{
    color: white;
    
}

h6{
    color: white;
}


/* SISTEMAS */

.colorBoton{
    background-color:#0F9FA8;
    border-color:#0F9FA8;
}

.permisoSistemas{
    filter: drop-shadow(4px 4px 8px #306086);
    border-bottom: solid 0.5px white;
    border-left: solid 5px #FEB413;
    background-color: #0F9FA8;
    padding:10px;
    
}

.formularioSistema{
    color:#306086;
    padding:20px;
    border-left: solid 4px #FFD372;
}

.separadorDatos{
    padding-bottom: 10px;
    color:#0F9FA8;
    border-bottom:solid 0.5px #D4D4D4;
    
}

.cuadroSistema{
    background-image: linear-gradient(to right, #0B6A6F, #11ABB4 );
    /* background-color: #0F9FA8;  */
    margin:10px 0px 10px 5px;
    
}

.cuadroSistema:hover{
    opacity: 0.8;
}


.cuadroSistemaGris{
    background-image: linear-gradient(to right, #959595, #959595);
    
    /* background-color: #0F9FA8;  */
    margin:10px 0px 10px 5px;
    
}

.cuadroSistemaGris:hover{
    opacity: 0.8;
}


.nombreSistema{
    color: #0F9FA8;
}

.descripcionSistema{
    color: black;
}

.imagenSistema{
    /*width:420px;
    height:200px;*/
    
}

.imagenGris{
    /*width:420px;
    height:200px;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cuadroNovedades{
    background-color:#E1E1E1;
    color:white;
}



