{% extends 'base.html.twig' %}

{% block title %}Intranet - Login{% endblock %}

{% block body %}
<div>    
    <p>
      Spice up your type with CSS
      <span>
        INTRANET
      </span>
      &mdash; no JavaScript required &mdash;
    </p>
</div>
{#<h1 class="fuente">INTRANET</h1>
<h5 class="fuenteMasChica">Iniciar sesión con su cuenta de gmail:</h5>
<div style="text-align:center;">
<a class="btn btn-danger" href="{{ path("connect_google")}}"><img class="botonLogin" src="{{asset(('img/iconoUnraf.png'))}}" alt="Imagen del sistema">Ingresar</a>
</div>
<div class="degrade" style="">
    <h1 style="padding:60px;color: white;">INTRANET</h1>
</div>
#}
{% endblock %}
